/*完整引入时需要单独引入的样式文件*/
/*其它 fast- 开头的css文件都是按需引入时要加载的样式文件*/
.fast-border-container {
  height: 100%;
}
.fast-border-container .el-header > div{
  height: 100%;
}
.fast-border-container .el-footer > div{
  height: 100%;
}
.fast-border-container .el-aside > div{
  height: 100%;
}
.fast-border-container .el-main > div{
  height: 100%;
}

.fit-layout-container {
  height: 100%;
}
.fit-layout-container .el-main > div {
  height: 100%;
}
