/* 页面上主要的less */
body {
  background-color: #00ff00;
}
.div1 {
  display: flex;
  background-image: url(../images/icon/arrow_1.png);
  width: 100px;
  height: 100px;
}
.div2 {
  background-image: url(../images/icon/arrow_1.png);
  width: 100px;
  height: 100px;
}
.div3 {
  background-image: url(../images/icon/arrow_2.png);
  width: 100px;
  height: 100px;
}
